.about {
  width: 100vw;
  background-image: url("../Assests/mixkit-person-wearing-a-vr-mask-in-a-virtual-reality-room-64-original.png");
  background-position: center;
  background-size: cover;
}

.about-me {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 65px;
  align-content: center;
}
