.profile {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-bottom: 7rem;
}

.profile-image {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-position: center;
  object-fit: cover;
}

.profile-name {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 65px;
  align-content: center;
}

.hamburger {
  position: fixed;
  top: 3rem;
  right: 2rem;
}
.nav {
  position: fixed;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-ul {
  position: absolute;
  margin-right: 1rem;
  padding: 2rem;
  z-index: 1;
  background-color: rgba(18, 8, 40, 1);
}
.hidden {
  display: none;
}

.video {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 7rem;
}

.footer {
  text-align: center;
}
