.header {
  display: flex;
}

.profile {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.nav {
  position: fixed;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-ul {
  position: absolute;
  margin-right: 1rem;
  padding: 2rem;
  z-index: 1;
  background-color: rgba(18, 8, 40, 1);
}
.hidden {
  display: none;
}
// .container-profile-image {
//   display: inline-block;
//   width: 150px;
//   height: 150px;
//   border-radius: 50%;

//   background-repeat: no-repeat;
//   background-position: center center;
//   background-size: cover;
// }
.profile-image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-position: center;
  object-fit: cover;
}
.profile-name {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 65px;
  align-content: center;
}
.video {
  align-content: center;
  width: 100%;
}
