@import "./homepage.scss", "./activeproject.scss", "./aboutme.scss",
  "./pastprojects.scss";

@import "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap";
// font-family: "Open Sans", sans-serif;

html {
  overflow-x: hidden;
}
body {
  margin: 0;
  margin-top: 2rem;
  background-color: rgba(18, 8, 40, 1);
  color: rgba(255, 229, 207, 1);
  overflow-x: hidden;
}
a {
  color: rgba(255, 229, 207, 1);
}
ul {
  list-style-type: none;
}

// main purple rgba(18, 8, 40, 1)
// main white  rgba(255, 229, 207, 1)
