@import "./homepage.scss";

body {
  background-color: rgba(18, 8, 40, 1);
  color: rgba(255, 229, 207, 1);
}
a {
  color: rgba(255, 229, 207, 1);
}
ul {
  list-style-type: none;
}

// main purple rgba(18, 8, 40, 1)
// main white  rgba(255, 229, 207, 1)
